.search-bar{background:url(../images/search-icon.png) no-repeat scroll 99.5%!important}
@media only screen and (min-width : 768px) {
.jplist-grid-view .list-item{width:30%!important}
}
@media all and (min-width: 481px) and (max-width: 768px) {
.jplist-grid-view .list-item{width:50%!important}
}
@media only screen and (min-width : 992px) {
.jplist-grid-view .list-item{width:25%!important}
}
@media only screen and (min-width : 1200px) {
.jplist-grid-view .list-item{width:20%!important}
}
.jplist-panel .jplist-group label {
    text-shadow: none !important;
    font-weight: 400 !important;
    font-size:14px !important;
    color: rgba(153,153,153,1.0)!important;
}
.jplist-panel .jplist-group {

    background: #393939 !important;   
    color: rgba(153,153,153,1.0) !important;
    margin: 16px 10px 0 0 !important;
    height:39px !important;
}
.jplist-panel label {
    text-shadow: none !important;
    font-weight: 400 !important;
    font-size:14px !important;    
    padding: 0 4px !important;
}